

.profile-content{
    background-color: #2930427d;
    color: white;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    font-size: 19px;
}

.profile-content .user-name{
    font-size: 26px;
}

.profile-image{
    padding-top: 50px;
    
}

.profile-image img {
    border-radius: 50%;
}